@import './variables.module.scss';

body {
  background: $background-colour;
  color: $primary-grey-colour;

  button {
    cursor: pointer;
  }

  .container {
    display: flex;
  }

  code {
    color: red;
    background: white;
    padding: 2px;
  }
}
