@use 'sass:math';

/* COLOURS */
$primary-colour: #dbad81;
$primary-grey-colour: #413f3d;
$secondary-grey-colour: #797979;
$background-colour: #fff8f1;

// Card colours
$yellow-card-colour: #ffeccb;
$green-card-colour: #e2ebe0;
$red-card-colour: #fec8cc;
$blue-card-colour: #cddaef;
$purple-card-colour: #ddd3e1;

/* MIXINS */
// Font properties
@mixin heading1 {
  font-weight: 700;
  font-size: pxToRem(32px);
}

@mixin heading2 {
  font-weight: 400;
  font-size: clamp(pxToRem(32px), 3vw, pxToRem(40px));
  padding: 24px;

  @media (min-width: 800px) {
    padding: 48px;
  }
}

@mixin heading3 {
  font-weight: 500;
  font-size: clamp(pxToRem(20px), 3vw, pxToRem(24px));
}

@mixin heading4 {
  font-weight: 500;
  font-size: clamp(pxToRem(18px), 3vw, pxToRem(20px));
}

@mixin noteHeading {
  font-weight: 700;
  font-size: clamp(pxToRem(40px), 3vw, pxToRem(48px));
}

@mixin noteFont {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: pxToRem(16px);
}

@mixin error {
  font-weight: 600;
  color: red;
  font-size: clamp(pxToRem(18px), 3vw, pxToRem(20px));
  margin-top: 60px;
}

// Button
@mixin arrowBtn($position) {
  border: none;
  background: none;
  position: $position;
  cursor: pointer;

  img {
    transform: scale(1.5);
  }
}

@mixin primaryBtn {
  background: $primary-colour;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  font-size: pxToRem(16px);
  padding: 8px 24px;
  font-weight: 700;
}

@mixin secondaryBtn {
  background: none;
  color: $primary-grey-colour;
  border: solid 3px $primary-colour;
  border-radius: 16px;
  font-size: pxToRem(16px);
  padding: 8px 24px;
  font-weight: 700;
}

// Containers
@mixin mainContainer {
  width: 90vw;
  padding-bottom: 48px;

  @media (min-width: 800px) {
    width: 55vw;
    padding-bottom: 90px;
  }
  @media (min-width: 1000px) {
    width: 60vw;
  }
  @media (min-width: 1200px) {
    width: 70vw;
  }
  @media (min-width: 1700px) {
    width: 80vw;
  }
}

@mixin noteContainer {
  padding: 24px 24px;

  .headingContainer {
    margin-bottom: 24px;

    .titleContainer {
      p {
        margin-top: 8px;
      }
    }

    h2 {
      @include noteHeading;
    }
  }

  .underline {
    width: 60px;
    height: 4px;
    margin-top: 10px;
  }

  .text {
    white-space: pre-line;
  }

  @media (min-width: 800px) {
    padding: 48px 48px;

    .headingContainer {
      .titleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          width: 450px;
        }

        p {
          display: block;
          margin-top: 0px;
        }
      }
    }
  }

  @media (min-width: 1000px) {
    .headingContainer {
      .titleContainer {
        h2 {
          width: 600px;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .headingContainer {
      .titleContainer {
        h2 {
          width: 800px;
        }
      }
    }
  }
}

// Util
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

/* FUNCTIONS */
// Converts pixel to rem
@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}
