@import '../../variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.createContainer {
  h2 {
    @include heading2;
  }

  .createForm {
    @include mainContainer;
    display: flex;
    flex-direction: column;
    padding: 72px 24px 0px 24px;
    width: 100vw;

    .topHalf {
      display: flex;
    }

    input {
      @include noteFont;
      width: 100%;
      padding: 16px;
      border: none;
      font-size: pxToRem(24px);
    }

    textarea {
      @include noteFont;
      padding: 16px;
      height: 350px;
      border: none;
      resize: none;
    }

    button {
      @include primaryButton;
      width: 100px;
      padding: 8px 24px;
      font-weight: 700;
      margin-top: 16px;
    }
    button:hover {
      background: #e6a467;
    }

    select {
      border: solid 1px rgba(0, 0, 0, 0.137);
      font-size: pxToRem(16px);
    }
  }
}

@media (min-width: 800px) {
  .createContainer {
    .createForm {
      padding: 0px 48px;
    }
  }
}
