/* COLOURS */
/* MIXINS */
/* FUNCTIONS */
.notesContainer h2 {
  font-weight: 400;
  font-size: clamp(2rem, 3vw, 2.5rem);
  padding: 24px;
}
.notesContainer .arrowOpenBtn {
  display: none;
  border: none;
  background: none;
  position: absolute;
  margin: auto 0;
  cursor: pointer;
  transform: rotate(180deg);
  bottom: 50px;
}
.notesContainer .arrowOpenBtn img {
  transform: scale(1.5);
}
.notesContainer .noNotesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  height: 80vh;
  width: 100vw;
  font-weight: 500;
}
.notesContainer .mainNotesContainer .filterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 72px 24px 0px 24px;
}
.notesContainer .mainNotesContainer .filterContainer > div {
  display: flex;
  gap: 56px;
}
.notesContainer .mainNotesContainer .filterContainer > div .recentContainer,
.notesContainer .mainNotesContainer .filterContainer > div .favContainer {
  position: relative;
}
.notesContainer .mainNotesContainer .filterContainer > div .recentContainer > div,
.notesContainer .mainNotesContainer .filterContainer > div .favContainer > div {
  position: absolute;
  bottom: -18px;
}
.notesContainer .mainNotesContainer .filterContainer > div button {
  cursor: pointer;
  font-size: 1.375rem;
  border: none;
  background: none;
}
.notesContainer .mainNotesContainer .filterContainer .underline {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.13);
  height: 2px;
  width: 100%;
}
.notesContainer .mainNotesContainer .filterContainer .activeUnderline {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100px;
  background: #413f3d;
  border-radius: 16px;
  transition: 300ms ease-in-out;
}
.notesContainer .mainNotesContainer .filterContainer .moveRight {
  transform: translateX(147px);
  width: 120px;
}
.notesContainer .mainNotesContainer .filterContainer .moveLeft {
  transform: translateX(-3px);
}
.notesContainer .mainNotesContainer .searchBoxContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.notesContainer .mainNotesContainer .searchBoxContainer .searchBox {
  background: url("/assets/search.svg") no-repeat;
  background-color: #ffffff;
  background-position: 37px 46%;
  border: none;
  border-radius: 16px;
  padding: 16px 0px 16px 70px;
  font-size: 1.25rem;
}

@media (min-width: 800px) {
  .notesContainer h2 {
    padding: 48px;
  }
  .notesContainer .noNotesContainer {
    width: 50vw;
  }
  .notesContainer .mainNotesContainer {
    width: 50vw;
  }
  .notesContainer .mainNotesContainer .filterContainer {
    margin-left: 48px;
  }
  .notesContainer .mainNotesContainer .searchBoxContainer {
    justify-content: flex-start;
    width: 100%;
    padding-left: 48px;
  }
}
@media (min-width: 1200px) {
  .notesContainer .noNotesContainer {
    width: 70vw;
    gap: 80px;
  }
  .notesContainer .noNotesContainer img {
    width: 410px;
    height: 222px;
  }
  .notesContainer .mainNotesContainer {
    width: 70vw;
  }
  .notesContainer .mainNotesContainer .searchBoxContainer .searchBox {
    width: 400px;
  }
}
@media (min-width: 1700px) {
  .notesContainer .noNotesContainer,
  .notesContainer .mainNotesContainer {
    width: 80vw;
  }
}