/* COLOURS */
/* MIXINS */
/* FUNCTIONS */
.sidebar {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: auto;
  border: none;
  background: white;
  z-index: 0;
}
.sidebar .arrowBtn {
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 18px;
  margin: auto 0;
  z-index: 100;
  cursor: pointer;
}
.sidebar .arrowBtn img {
  transform: scale(1.5);
}
.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  padding: 24px 0px 112px 0px;
}
.sidebar .logo h1 {
  font-weight: 700;
  font-size: 2rem;
}
.sidebar .btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.sidebar .btnContainer a {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  border-radius: 16px;
  padding: 24px 16px;
  width: 300px;
  font-weight: 500;
  color: #413f3d;
}
.sidebar .btnContainer a:hover {
  background: #fff8f1;
}
.sidebar .btnContainer .newNoteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: #ffffff;
  background: #dbad81;
  font-weight: 700;
}
.sidebar .btnContainer .newNoteBtn:hover {
  background: #e6a467;
}
.sidebar .userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar .userContainer > div {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 24px 16px;
  gap: 16px;
}

.sidebar.hide {
  animation: sidebarAnim 800ms ease-in-out forwards;
  animation-name: sidebarAnim;
  animation-duration: 300ms;
}

@keyframes sidebarAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 800px) {
  .sidebar {
    position: relative;
    width: 50vw;
  }
  .sidebar .arrowBtn {
    top: 40px;
  }
  .sidebar .logo {
    justify-content: flex-start;
    padding: 48px 0px 50px 32px;
  }
  .sidebar .btnContainer {
    align-items: flex-start;
    padding: 48px 0px 50px 32px;
  }
}
@media (min-width: 900px) {
  .siderbar {
    width: 20vw;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    width: 30vw;
  }
}
@media (min-width: 1700px) {
  .sidebar {
    width: 30vw;
  }
}
@media (max-width: 360px) {
  .sidebar {
    width: 360px;
  }
}