@import '../../variables.module.scss';

.noteContainer {
  @include mainContainer;
  @include noteContainer;
  padding-bottom: 24px;
  max-width: 2600px;
  margin: 0 auto;

  ul,
  ol {
    margin-top: -1em;
    margin-bottom: -1em;
  }

  .error {
    @include error;
    margin-bottom: 60px;
  }
}

@media (min-width: 800px) {
  .noteContainer {
    padding-bottom: 48px;
  }
}
