@import '../../variables.module.scss';

.form {
  @include mainContainer;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  width: 100vw;
  position: relative;

  .date {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    font-weight: 500;
  }

  .topHalf {
    display: flex;
  }

  input {
    @include noteFont;
    width: 100%;
    padding: 16px;
    border: none;
    font-size: pxToRem(24px);
  }

  textarea {
    @include noteFont;
    padding: 16px;
    height: 350px;
    border: none;
    resize: none;
  }

  .btnContainer {
    display: flex;
    gap: 8px;

    .primaryBtn {
      @include primaryBtn;
      margin-top: 24px;
    }
    .primaryBtn:hover {
      background: #e6a467;
    }

    .previewBtn {
      @include secondaryBtn;
      margin-top: 24px;
    }
    .previewBtn:hover {
      background: #f5e9dd;
    }
  }

  select {
    border: solid 1px rgba(0, 0, 0, 0.137);
    font-size: pxToRem(16px);
  }
}

@media (min-width: 800px) {
  .form {
    padding: 0px 48px;

    textarea {
      height: 50vh;
    }
  }
}

@media (min-width: 1700px) {
  .form {
    textarea {
      height: 60vh;
    }
  }
}
